@if (question$ | async; as question) {
  <div class="question">{{ question }}</div>
}

@if (answer$ | async; as answer) {
  <div class="answer">{{ answer }}</div>
}

<div class="counter"> {{ quizManagerService.incorrectGuesses() }} / {{ quizManagerService.maxIncorrectGuesses }}</div>

<app-modal (buttonEmitter)="quizManagerService.setQuiz()"
           [show]="(showModal$ | async) ?? false"
           [title]="'Congratulations!'" />

<app-modal (buttonEmitter)="quizManagerService.setQuiz()"
           [show]="quizManagerService.incorrectGuesses() === quizManagerService.maxIncorrectGuesses"
           [title]="'You Lose!'" />

<app-keyboard (keyEmitter)="pressKey($event)" [removeSubscribers]="(showModal$ | async) ?? false" />
