@if (question$ | async; as question) {
  <div class="question">{{ question }}</div>
}

@if (answer$ | async; as answer) {
  <div class="answer">{{ answer }}</div>
}

<div class="counter"> {{ quizService.incorrectGuesses() }} / {{ MAX_GUESS_ATTEMPTS }}</div>

<app-modal (buttonEmitter)="quizService.setQuiz()"
           [show]="isWin"
           [title]="'Congratulations!'" />

<app-modal (buttonEmitter)="quizService.setQuiz()"
           [show]="isLose"
           [title]="'You Lose!'" />

<app-keyboard (keyEmitter)="pressKey($event)" [allowEmitting]="isInProgress" />
